.Contact-Me-Section {
    position: absolute;
    bottom:0;
    width:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}



/*formatting for the contact me section */

.Contact-Me-Section div ul li {
    display: inline-block;
    margin-left: 25px;
    color: var(--dark-turquoise);
    padding-right: 10%;
    font-size:  20px;
}