.Work-Section {
    margin-bottom: 23%;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.Work-Section div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}



/*sets the background image and then the size  */

.Work-Section-1{
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Code-Refractor.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;
    display: block;
    cursor: pointer;

}


.Work-Section-2{
    height: 85%;
    width: 45%;
    margin-bottom: 25px;
    margin: 10px;
    background-image: url("../images/MusicTrivia.PNG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;
}

.Work-Section-3{
    height: 85%;
    width: 45%;
    margin-bottom: 25px;
    margin: 10px;
    background-image: url("../images/Weather.PNG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;

}
.Work-Section-4{
    height: 85%;
    width: 45%;
    margin-bottom: 25px;
    margin: 10px;
    background-image: url("../images/Work.PNG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;

}
.Work-Section-5{
    height: 85%;
    width: 45%;
    margin-bottom: 25px;
    margin: 10px;
    background-image: url("../images/Password.PNG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;

}
.Work-Section-6{
    height: 85%;
    width: 45%;
    margin-bottom: 25px;
    margin: 10px;
    background-image: url("../images/NoteTaker.PNG");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 6px solid teal;

}
/*positions the textbox on the background image */

.bottom-left {
    flex: end;
    justify-content: flex-start;
    z-index: 9999999;
    background-color: teal;
    width: 10%;
    height: 20%;
    font-size: 24px;
    border: 2px solid white;
    transform: scale(1) translate(-0%, 350%);
    color: white;
}
.bottom-left-small {
    flex: end;
    z-index: 9999999;
    background-color: teal;
    width: 10%;
    height: 20%;
    font-size: 11px;
    border: 2px solid white;
    transform: scale(1) translate(-0%, 350%);
    color: white;
}

